@using Microsoft.AspNetCore.Identity
@model IEnumerable<TorrServ.ViewModels.UsersWithRoles>
@{
    ViewData["Title"] = "Administration";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <dir class="row">
        <div class="col-md-6"><h2 class="text-white">Administration</h2></div>
        <div class="col-md-2"><h2><a asp-controller="MainPaths" asp-action="Index" class=" btn btn-dark">SourthPaths</a></h2></div>
        <div class="col-md-2"><h2><a asp-controller="Admin" asp-action="UpdateDatabase" class=" btn btn-dark">Update Database</a></h2></div>
        <div class="col-md-2"><h2><a asp-controller="Admin" asp-action="UpdateCommIndex" class=" btn btn-dark">Update CommIndex</a></h2></div>


    </dir>
    <div class="text-white">
        <a class="btn btn-dark" asp-controller="Roles" asp-action="UserList">List of users</a><br />
        <a class="btn btn-dark" asp-controller="Roles" asp-action="Index">Roles</a>
       
    </div>
    
</body>
</html>
